
$primary:   #2e3e4f;
$secondary: #d63e23;
$tertiary:  #f1e6dc;


body {
	background: $tertiary;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.pay-extra-attention-to-this {
	@include full-bg( #2e3e4f );
}

.i-need-to-be-vertically-aligned {
	padding-top: 20px;
}

.grid {
	padding-bottom: $gutter;
}

.responsive {
	padding-bottom: 0;

	> .col-1-4 {
		margin-bottom: $gutter;

		> .box {
			background: $primary;
		}

		@media ( max-width: $tablet ) {
			width: map-get( $col-widths, col-1-2 );
			padding-bottom: 0;

			&:nth-child(odd) {
				clear: left;
			}
		}
		@media ( max-width: $mobile ) {
			width: map-get( $col-widths, col-1-1 );
			clear: left;
			margin-bottom: $gutter;

			&:nth-child(even) {
				clear: none;
			}
		}
	}
}

.box {
	padding: 50px $gutter;
	background: $secondary;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	@media ( max-width: $tablet ) {
		font-size: 18px;
	}
	@media ( max-width: $mobile ) {
		font-size: 12px;
		font-weight: 400;
		letter-spacing: normal;
		text-transform: none;
	}
}

.logo {
	height: 80px;
	margin: 20px 0;
	background: $primary;
	border: none;
	background:
		linear-gradient(135deg, transparent 40px, $primary 0) top left,
		linear-gradient(225deg, transparent 40px, $primary 0) top right,
		linear-gradient(315deg, transparent 40px, $primary 0) bottom right,
		linear-gradient(45deg,  transparent 40px, $primary 0) bottom left;
	background-size: 50.5% 50%;
	background-repeat: no-repeat;
	font-size: 42px;
	font-weight: 900;
	line-height: 76px;
	text-align: center;
	color: #fff;
	text-shadow: 3px 3px 0px $secondary;
	text-transform: uppercase;
	letter-spacing: 3px;

	&.col-3-5 {
		@media ( max-width: $tablet ) {
			width: 100%;
			margin-left: 0;
		}
	}
}

