
@import 'grid-config';


// Mixins

	@mixin bp( $point ) {
		@media ( max-width: $point ) { @content; }
	}

	@mixin set-column( $old, $new ) {
		$col-name: col-1-#{$new};
		$width: map-get( $col-widths, $col-name );
		
		width: $width;

		&:nth-of-type( #{$new}n+1 ) {
			clear: left;
		}

		@if $new != $old {
			&:nth-of-type(#{$old}n+1) {
				clear: none;
			}
		}
	}

	@mixin columns( $desktop-cols, $tablet-cols, $mini-tablet-cols, $mobile-cols ) {
		&:nth-of-type(#{$desktop-cols}n+1) {
			clear: left;
		}

		@media ( max-width: $tablet ) {
			@include set-column( $desktop-cols, $tablet-cols );
		}
		@media ( max-width: $mini-tablet ) {
			@include set-column( $tablet-cols, $mini-tablet-cols );
		}
		@media ( max-width: $mobile ) {
			@include set-column( $mini-tablet-cols, $mobile-cols );
		}
	}


// The grid

	.wrapper {
		width: 100%;
	}

	.grid {
		max-width: $site-wrapper;
		margin: 0 auto;
		padding: 0 20px;

		@if variable-exists( grid-background ) {
			background: $grid-background;
		}

		&.full {
			padding-right: 0;

			[class*='col-'] {
				padding: 0 $gutter 0 0;
			}
		}
	}

	[class*='col-'] {
		float: left;
	}

	@each $name, $width in $col-widths {
		.#{$name} {
			width: $width
		}
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	*, *:after, *:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	[class*='col-'] {
		padding-right: $gutter;
	}
	[class*='col-1-1'] {
		padding-right: 0;
	}
	[class*='col-']:last-of-type {
		padding-right: 0;
	}
	[class*='col-1-1']:last-of-type {
		margin-right: 20px;

		@include bp( $tablet ) {
			padding-right: 0;
		}
	}


// ###########################################################################
// 
// And that was the grid! Beyond this point are only grid related styles making 
// those cols look nice and wrappers to the grid. Please have a look to see how
// to actually use the grid.
// 
// https://css-tricks.com/useful-nth-child-recipies/
// https://css-tricks.com/examples/nth-child-tester/
// 
// ###########################################################################



.full-background {
	padding-bottom: 20px;
	background: #2e3e4f;
}

.main {
	padding-bottom: 20px;
//	background: #fff;
}

.responsive > .col-1-4 {
	@include bp( $mini-tablet ) {
		width: map-get( $col-widths, col-1-2 );

		&:nth-child(odd) {
			clear: left;
		}
	}
	@include bp( $mobile ) {
		width: map-get( $col-widths, col-1-1 );
		clear: left;

		&:nth-child(even) {
			clear: none;
		}
	}
}

.box {
	margin-top: 20px;
	padding: 50px 0;
}

